@model dynamic
<div id="management">
    <div class="inner-content">
        <select id="list" onchange='LoadDetails()' multiple="multiple">
            @foreach (var item in @Model)
            {
                <option id="@item.Id">
                    @if (@item.GetType().GetProperty("Name") != null)
                    {
                        @item.Name continue;
                    }
                    @if (@item.GetType().GetProperty("Number") != null)
                    {
                        @item.Number continue;
                    }
                    @item.Id
                </option>
            }
        </select>
        <div class="details">
            @foreach (var prop in @Model.GetType().GetElementType()
                .GetProperties())
            {
                <p>
                    @if (prop.Name == "Id")
                    {
                        continue;
                    }
                    @prop.Name:<br>
                    <input id="@prop.Name" type="text">
                </p>
            }

        </div>
    </div>

</div>
<div id="commit-panel">
    <button id="Add" onclick="Add()">Add</button>
    <button id="Edit" onclick="Edit()">Edit</button>
    <button id="Remove" onclick="Remove()">Delete</button>
</div>